@using LocalReads.Shared.DataTransfer.GoogleBooks

@inject HttpClient HttpClient
@inject IHttpRequest HttpRequest
@inject AppState AppState
@inject NavigationManager Navigation

<div class="search-box">
    <input type="text"
    class="search-input"
    placeholder="Search books..."
    @bind="SearchTerm"
    @bind:event="oninput" />
    <button class="search-button" @onclick="OnSearchClicked">🔍</button>
</div>

@code {
    private string SearchTerm { get; set; } = "";

    private async Task OnSearchClicked()
    {
        AppState.SearchResults.TermSearch = SearchTerm;
        if (Navigation.Uri.Contains("/searchbooks"))
        {
            var booksData = (await HttpRequest.Get<Root>($"/googlebooks/range/{AppState.SearchResults.TermSearch}/1/10"))
                .Content.Items;
            AppState.SearchResults.SetSearchResults(booksData.Select(BookDto.FromBook).ToList());
        }
        else
        {
            Navigation.NavigateTo("/searchbooks");
        }
    }
}
