@page "/login"

@inject IAuthService AuthService
@inject NavigationManager Navigation

<MudContainer Style="align-self: center">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h4">Login</MudText>
            <MudForm Model="@Login">
                <MudTextField T="string" Label="Username" @bind-Value="@Login.UserName"/>
                <MudTextField T="string" Label="Password" @bind-Value="@Login.Password" InputType="InputType.Password"/>
            </MudForm>
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                Style="margin: 20px 0"
                @onclick="HandleLogin">
                Login
            </MudButton>
            <MudElement>
                <p>If you don't have an account go to
                    <a style="color: blue" Href="/register">Register</a></p>
            </MudElement>
        </MudPaper>
    </MudItem>
</MudContainer>

@code {
    private Login Login { get; } = new Login();

    protected override async Task OnInitializedAsync()
    {
        if(await AuthService.IsLoggedIn())
            Navigation.NavigateTo("/");
    }

    public async Task HandleLogin()
    {
        var isSigned = await AuthService.Login(Login);
        if(isSigned)
            Navigation.NavigateTo("/");
    }
}
