@page "/login"
@using LocalReads.Services
@using MudBlazor
@using LocalReads.Shared.DataTransfer.User
@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthService AuthService

<MudContainer Style="align-self: center">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm Model="@Login">
                <MudTextField T="string" Label="Username" @bind-Value="@Login.UserName" />
                <MudTextField T="string" Label="Password" @bind-Value="@Login.Password"  InputType="InputType.Password" />
            </MudForm>
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                Style="margin: 20px 0"
                @onclick="HandleLogin">
                Login
            </MudButton>
            <a Href="/register">Register</a>
        </MudPaper>
    </MudItem>
</MudContainer>

@code {
    private Login Login { get; } = new Login();
    public async Task HandleLogin()
    {
        var isSigned = await AuthService.Login(Login);
        if (!isSigned)
        {
            
        }
    }
}
