
@inherits LayoutComponentBase
@inject AppState AppState
@inject IAuthService AuthService

<MudLayout>
    <div class="sidebar">
        <NavMenu />
    </div>
    <MudMainContent Class="content">
        @* <CascadingValue Value="@AppState"> *@
        @Body
        @* </CascadingValue> *@
    </MudMainContent>
</MudLayout>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall" />

@* Needed for snackbars *@
<MudSnackbarProvider />

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (AppState.UserState.User == null)
        {
            await AuthService.PersistLoggedInUser();
        }
    }
}