@using MudBlazor
@inherits LayoutComponentBase
<MudLayout>
    <div class="sidebar">
        <NavMenu />
    </div>
    <MudMainContent Class="content"> 
        @Body
    </MudMainContent>
</MudLayout>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@code
{
}