@using MudBlazor
@inherits LayoutComponentBase
<MudLayout>
    <div class="sidebar">
        <NavMenu />
    </div>
    <MudMainContent Class="content"> 
        @Body
    </MudMainContent>
</MudLayout>

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@code
{
    private string Styles = 
        @"width: 80vw; justify-self: center; margin-top: 10vh;";
}