
@inject IOpenLibraryService GoogleBooksService
@inject NavigationManager Navigation
@inject IAuthService AuthService
@inject AppState AppState

<MudAppBar Style="padding: 0 70px; height: 70px;" Class="mb-1">
    <MudText Typo="Typo.h5">LocalReads</MudText>
    <AuthorizeView>
        <Authorized>
            <a href="/" Class="custom-link d-flex justify-center align-center">
                Home
            </a>
            <a href="/mybooks" Class="custom-link d-flex justify-center align-center">
                My Books
            </a>
            <a href="/searchbooks" Class="custom-link d-flex justify-center align-center">
                Search
            </a>
            <a href="/myserver" Class="custom-link d-flex justify-center align-center">
                My Server
            </a>
        </Authorized>
    </AuthorizeView>
    <SearchBox OnSearch="HandleSearch"/>
    <MudSpacer/>
    <AuthorizeView>
        <Authorized>
            <a href="/" @onclick="LogOut" Class="custom-link d-flex justify-center align-center">
                <MudIcon Icon="@Icons.Material.Outlined.Logout" Title="LogOut"/>
            </a>
            <MudAvatar @onclick="ToProfile" Color="Color.Secondary" Class="cursor-default">@GetUsernameFirstLetter()</MudAvatar>
        </Authorized>
        <NotAuthorized>
            <MudIcon
                Icon="@Icons.Material.Outlined.Login"
                Title="Log In"
                Size="Size.Large"
                @onclick="HandleClick"/>
        </NotAuthorized>
    </AuthorizeView>
</MudAppBar>

@code {
    
    private async Task HandleSearch(string term)
    {
        var test = await GoogleBooksService.GetBySearch(term);
        Console.WriteLine($"Search for: {term}");
    }

    private void HandleClick()
    {
        Navigation.NavigateTo("/login");
    }

    protected override void OnInitialized()
    {
        AppState.UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.UserState.OnChange -= StateHasChanged;
    }

    private string GetUsernameFirstLetter()
    {
        if (AppState.UserState.User == null)
            return "N";
        return AppState.UserState.User.UserName.Substring(0, 1).ToUpper();
    }

    private void ToProfile()
    {
        Navigation.NavigateTo("/profile/1");
    }

    private async Task LogOut()
    {
        await AuthService.Logout();
    }

}